In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Neil Diamond,Moon River,Moon river wider than a mile \r\nI'm crossin'...
1,Owl City,The Bird And The Worm,"If you're the bird, \r\nWhenever we pretend i..."
2,Quiet Riot,Main Attraction,There's a light \r\nAt the end of the tunnel ...
3,Yo La Tengo,Here Comes My Baby,"In the midnight moonlight I'll, be walkin' a l..."
4,Bryan White,Still Life,Out on the porch swing \r\nLike some old pain...
5,Isley Brothers,Let's Lay Together,La Da Da Da Da Da Da Da Da Da.... Hey Yeh...Oh...
6,Xavier Rudd,Chances,At times in life \r\nYou'll connect with some...
7,Nazareth,Guilty,"Yes baby, I've been drinkin' \r\nShouldn't co..."
8,Justin Bieber,All I Want Is You,Sitting here all alone watching the snow fall ...
9,Lea Salonga,Rainbow Connection,Why are there so many \r\nSongs about rainbow...

In [9]:
df['text'][0]

"Moon river wider than a mile  \r\nI'm crossin' you in style some day  \r\nOld dream maker, you heartbreaker  \r\nWherever you're goin'  \r\nI'm goin' your way  \r\nTwo drifters, off to see the world  \r\nThere's such a lot of world to see  \r\nWe're after the same rainbow's end  \r\nWaitin' 'round the bend  \r\nMy huckleberry friend  \r\nMoon River and me  \r\nTwo drifters, off to see the world  \r\nThere's such a lot of world to see  \r\nWe're after the same rainbow's end  \r\nWaitin' 'round the bend  \r\nMy huckleberry friend  \r\nMoon River and me\r\n\r\n"

In [10]:
df = df.sample(5000)

In [11]:
df.shape

(5000, 3)

In [12]:
df.tail(5)

,artist,song,text
4824,Natalie Imbruglia,Starting Over,Starting today I'm not gonna waste another mom...
2723,O.A.R.,Toy Store,Hoping to find something better \r\nAt least ...
3494,Lana Del Rey,Is This Happiness,I've been to Hollywood hills taking violet \r...
4953,Grateful Dead,New Speedway Boogie,"Please don't dominate the rap, Jack, \r\nIf y..."
75,Doors,Money,You know the best things in live are free \r\...

In [13]:
df

,artist,song,text
3034,Styx,All In A Day's Work,"She wakes up from a dream, checks the mirror f..."
732,Lady Gaga,Money Honey,"That's M O N E Y, so sexy, I \r\n \r\nDamn, ..."
4081,Nick Drake,Day Is Done,When the day is done \r\nDown to earth then s...
40,Yes,Silent Talking,Does it matter if you broke this spell \r\nSo...
3055,Bon Jovi,Don't Leave Me Tonight,"If I had to I would lie for you, \r\nAnd baby..."
...,...,...,...
4824,Natalie Imbruglia,Starting Over,Starting today I'm not gonna waste another mom...
2723,O.A.R.,Toy Store,Hoping to find something better \r\nAt least ...
3494,Lana Del Rey,Is This Happiness,I've been to Hollywood hills taking violet \r...
4953,Grateful Dead,New Speedway Boogie,"Please don't dominate the rap, Jack, \r\nIf y..."
75,Doors,Money,You know the best things in live are free \r\...

Text Cleaning/ Text Preprocessing

In [14]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [15]:
import nltk
nltk.download('punkt')  # Download the punkt tokenizer model

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\gurud\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [16]:
import nltk
print(nltk.data.find('tokenizers/punkt'))

C:\Users\gurud\AppData\Roaming\nltk_data\tokenizers\punkt\PY3

In [17]:
import nltk
nltk.data.path.append(r'C:\Users\gurud\AppData\Roaming\nltk_data\tokenizers\punkt')

In [18]:
import nltk
nltk.data.path.append(r'C:\Users\gurud\AppData\Roaming\nltk_data')

In [19]:
import nltk
print(nltk.data.find('tokenizers/punkt'))

C:\Users\gurud\AppData\Roaming\nltk_data\tokenizers\punkt\PY3

In [20]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):

    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [21]:
tokenization("you are beautiful")

'you are beauti'

In [22]:
df['text'].apply(lambda x: tokenization(x))

3034    she wake up from a dream , check the mirror fo...
732     that 's m o n e y , so sexi , i damn , i love ...
4081    when the day is done down to earth then sink t...
40      doe it matter if you broke thi spell so unreal...
3055    if i had to i would lie for you , and babi i w...
                              ...
4824    start today i 'm not gon na wast anoth moment ...
2723    hope to find someth better at least better tha...
3494    i 've been to hollywood hill take violet pill ...
4953    pleas do n't domin the rap , jack , if you 've...
75      you know the best thing in live are free you c...
Name: text, Length: 5000, dtype: object

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')

In [25]:
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [26]:
similarity[0]

array([1.        , 0.00891726, 0.1871759 , ..., 0.10170175, 0.02001363,
       0.00164138])

In [34]:
df[df['song'] == 'Sign Of Life']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [32]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [33]:
recommendation('Sign Of Life')

IndexError: index 0 is out of bounds for axis 0 with size 0

In [31]:
import pickle
pickle.dump(similarity,open('similarity','wb'))
pickle.dump(df,open('df','wb'))